<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>
      Project Site
    </title>
    <link rel="icon" href="https://static-content.owner.com/brands/logos/G3zkVe4Ub0sA.png?v=2793686036&h=48&auto=format&dpr=1" type="image/x-icon">
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <!--
      <img src="https://static-content.owner.com/brands/logos/G3zkVe4Ub0sA.png?v=2793686036&h=48&auto=format&dpr=1" alt="Logo">
    <div>
      <h1 style="text-align: center;">
        Welcome!
      </h1>
    </div>
    -->
    <header class="page-header" role="banner">
      <h1> Bunz Burgers</h1>
      <h2> Located in Huntington Beach, California</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    <div class="body">
      <body style="text-align: center; ">
        <h1>About us</h1>We are an amazing burger joint located locally in Huntington Beach, California. What makes us different from others is our unique twist on our delicious foods. For example, we love to go ham on toppings. Our hot dogs are stuffed to perfection and our burgers are monsters! We also got the best shakes and sides. Come stop by our restaurant and tell us what you think!
      </body>
    </div>
    <div>
      <h3>What inspired us</h3>
      <p>Being born and raised in Southern California, we grew up surrounded by all kinds of cultures with fantastic foods. As time went by, a lot of the goto burger joints were blending into each other and became saturated. So, we wanted to stand out. We decided to take SoCal's most popular foods to the next level by thinking outside the box. We decided to use fresh ingredients and herbs to create an everlasting taste and combine them with already amazing-tasting food to create an even better experience.</p>
    </div>
    <hr style="width: 50vw;">
    <div class="row">
      <h1>Check out our food samples!</h1>
      <div class="column" style="text-align: center;">
        <img src="https://photos.tryotter.com/menu-photos/cfd8ffa1-c931-44bf-801e-7889a16d0837.jpeg?w=1920&q=80" alt="Bacon wrapped hot dog" style="height: 300px;">
        <h2>The Bacon Wrapped Hot Dog $6.29</h2>
        <p>One of our classics, It's not just any ordinary bacon-wrapped dog, it's a monster. It's stuffed and loaded with amazing and delicious toppings like bell peppers, jalapenos, pickles, onions, and tomatoes!</p>
      </div>
      <div class="column" style="text-align: center;">
        <img src="https://s3-media0.fl.yelpcdn.com/bphoto/SW2yuwrO-p8sP8u4l4pqgA/o.jpg" alt="Breakfast Sandwich" style="height: 300px;">
        <h2>The Loaded Breakfast Sandwich $6.29</h2>
        <p>Another fan favorite! It's a no-brainer too! This sandwich is stuffed with delicious bacon, a yolky fried egg, melted cheese, a fried hash-brown patty, and a savory sausage patty.</p>
      </div>
      <div class="column" style="text-align: center;">
        <img src="https://photos.tryotter.com/menu-photos/6f09ebc6-b2f5-4267-bf3c-d30a8ffaf772.png?w=1920&q=80" alt="Asian Chicken Salad" style="height: 300px;">
        <h2>The Asian Chicken Salad $9.99</h2>
        <p>The sweet and savory favorite. Another popular choice for those who aren't craving insanely high-calorie foods with great flavor 😎. The savory flavor of the sauce and the healthiness of the salad combined with the great source of protein from chicken make this a great pick for those looking to try something else.</p>
      </div>
    </div>
    <hr style="width: 50vw;">
    <div>
      <h1>We offer delivery!!</h1>
      <img src="https://i.pinimg.com/originals/d9/e4/f4/d9e4f44ae4c5f02995e6ac27dd8a37f6.png" alt="delivery" style="height: 30vw;">
      <p>Had a busy day? We get it, we've partnered with several rideshare apps to make accessing your favorite restaurant easier. We are available for delivery on most ride-share delivery apps such as Uber Eats and Doordash.</p>
    </div>
    <hr style="width: 50vw;">
    <div>
      <h1>Please leave us a review! We appreciate it!</h1>
      <button type="button" onclick="location.href='https://www.yelp.com/biz/bunz-huntington-beach-3'">Review Us</button>
    </div>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>. This is an unoffical website!</span>
      </footer>
    </main>
  </body>
</html>
